{% extends 'base.html' %} {% block content %}

<main>
  <!-- ABOUT US -->
  <div id="about">
    <div class="container text-center">
      <h1 class="title">About Us</h1>
      <div class="row">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <p class="story m-2">
            <img
              class="p-2"
              src="{{url_for('static', filename='Logo.png')}}"
              alt="Logo"
              width="150"
              ,
              height="150"
            />
            <br /><br />
            PROXCITY is a simple and easy way to find local businesses
            <br /><br />
            During the covid pandemic, small/medium local businesses suffered greatly.
            So we thought, why don't we make it easier for them to get noticed? 
            This project is aimed at helping local businesses market their name by making 
            it easier for users <b>"Find, Help, and Save"</b> them.
            <br><br>
            Be sure to “Find, Help, and Save” a local business in your city close to your proximity!
          </p>
        </div>

        <div class="col-md-8">
          <img src="/static/about.jpg" alt="" class="w-100" />
        </div>
      </div>
    </div>
  </div>
  <!-- End Abous Us -->
</main>
{% endblock %}
