{% extends 'base.html' %} {% block content %}
<!--USER INFO -->
<section class="banner">
  <!-- User Profile -->
  <div class="container text-center pb-5">
    <div class="row">
      <div class="col-12">
        <!-- USER CONTENT -->
        <div class="user">
          <i class="fa fa-user-circle fa-10x"></i>
          <div class="user_info">
            <br />
            <h1>{{ user.name }}</h1>
            <p>
              {{ user.email }}
              <br />
              <span>Locations Saved: {{ favorites | length }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- User Profile End -->

  <!--Waves Container-->
  <div>
    <svg
      class="waves"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28"
      preserveAspectRatio="none"
      shape-rendering="auto"
    >
      <defs>
        <path
          id="gentle-wave"
          d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
        />
      </defs>
      <g class="parallax">
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="0"
          fill="rgba(255,255,255,0.7"
        />
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="3"
          fill="rgba(255,255,255,0.5)"
        />
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="5"
          fill="rgba(255,255,255,0.3)"
        />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div>
  <!--Waves end-->
</section>

<section class="fav">
  <div class="container">
    <h1 class="title text-center">FAVORITES</h1>
    <div class="row">
      <div class="col-md-12">
        <!-- Responses Start -->
        {% for favorite in favorites %}
        <div class="card mb-3 py-4 shadow">
          <div class="row p-1">
            <!-- card image -->
            <div class="col-md-2 text-center">
              <img
                class="p-2"
                src="{{ favorite.photo_path }}"
                alt="Logo"
                width="150"
                ,
                height="150"
              />
            </div>
            <!-- card body -->
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ favorite.name }}</h5>
                <p class="card-text">
                  <small class="text-muted">{{ favorite.address }}</small>
                </p>
                <p class="card-text">{{ favorite.description }}</p>
                <form action="/delete" method="POST">
                  <input type="hidden" value="{{favorite._id}}" name="id">
                <button type="submit" class="btn btn-primary">
                  Remove
                </button>
              </form>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- Responses End -->
      </div>
    </div>
  </div>
</section>

{% endblock %}
