{% extends 'base.html' %}

{% block content %}

<main>
    <!-- ABOUT US -->
    <div class="about">
        <div class="col-12 text-center mt-5">
            <h1 class="text-dark pt-4">About Us</h1>
            <div class="border-top border-primary w-50 mx-auto my-3"></div>
            <p class="story m-2">
                A simple and easy way to find local businesses!
                <br><br>
                During the covid pandemic, small/medium local businesses suffered greatly. 
                So we thought, we don't we make it easier for them to get noticed.
                We think that this project will help those businesses market their name and improve their revenue!
                The community then thrives and becomes less dependant on outside sources.
            </p>
              
            </p>
        </div>
    </div>
    <!-- End Abous Us -->
</main>
{% endblock %}